
<div class="video-container-header">
  <h4>List of your personal music collection.</h4>

  <div class="sort-dropdown">
    <div class="video-header-img" id="dropdownMenuButton1" title="Sort videos." data-bs-toggle="dropdown">
      <!-- <span>Sort videos</span> -->
      <img src="/media/sort-videos.png" alt="">
    </div>
    <ul class="dropdown-menu sort-videos-dropdown" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="">Last played</a></li>
      <li><a class="dropdown-item" href="">Repeat count</a></li>
    </ul>
  </div>
</div>