{% load staticfiles %}

<div id="history-list">
  {% for video in videos %}
  <div class="video-container" title="Video: {{forloop.counter}} of {{total_videos}}">

    <div class="video-thumbnail">
      <img src="{{video.thumbnail}}" />
    </div>

    <div class="video-title-info">
      <div class="video-title">{{video.title}}</div>
      <div class="video-info">

        <div class="video-info-icon" title="Last time played : {{video.last_played}}">
          <img src="/media/calendar.png" />
          <div class="ltpl">{{video.last_played|timesince}}</div>
        </div>

        <div class="video-info-icon">
          <img src="/media/your-repeats.png" title="Your repeats : {{video.repeats}}" />
          <div class="your-video-repeats">{{video.repeats}}</div>
        </div>

        <div class="video-info-icon">
          <img src="/media/clock.png" title="Video duration: {{video.mmss}}" />
          <div>{{video.mmss}}</div>
        </div>

        <div class="video-info-icon global-icon ms-3">
          <img src="/media/earth2.png" title="Global repeats : {{video.global_repeats}}" />
          <div>{{video.global_repeats}}</div>
        </div>

        <div class="video-info-icon global-icon">
          <img src="/media/heart-video.png" title="People love this video." />
          <div>{{video.users_hearted_video}}</div>
        </div>

        <div class="video-info-icon global-icon people">
          <img src="/media/people.png" title="People have played this video." />
          <div>{{video.users_played}}</div>
        </div>
      </div>
    </div>

    <div class="video-buttons">
      <a href="{% url 'play_video' video.videoId %}" class="play-button">
        <img src="/media/play-video.png" title="Play video." />
      </a>
      <!-- <a href="" class="add-to-queue">
          <img src="/media/add-to-playlist.png" title="Add to queue." />
        </a> -->
      <a href="" class="remove-from-personal" hx-delete="{% url 'remove_video' video.videoId %}"
        hx-target="#history-list" hx-confirm="Are you sure you wish to remove this video from your playlist?">
        <img src="/media/trash-can.png" title="Remove video from personal list." />
      </a>
    </div>


    <div class="favs {% if video.ytvideo.id in hearted %}favs-visible{% else %}favs-hide{% endif %}">
      <a href="" hx-post="{% url 'heart_video' video.videoId %}" hx-target="#history-list">
        {% if video.ytvideo.id in hearted %}
        <img src="/media/hearted-video.png" title="Remove video from favourites." />
        {% else %}
        <img src="/media/heart-video.png" title="Add to favourites." />
        {% endif %}
      </a>
    </div>

    <div class="show-buttons" title="Show additional info.">
      <span class="dot-info"></span>
      <span class="dot-info"></span>
      <span class="dot-info"></span>
    </div>

  </div>

  <div class="sm-info">
    <div class="sm-info-header">
      <div class="video-title">{{video.title}}</div>

      <div class="sm-info-close">
        <img src="/media/close.png" title="Close this info." />
      </div>
    </div>

    <div class="sm-info-row">
      <div class="title" style="width: calc(100% - 20px)">Play video</div>
      <a href="{% url 'play_video' video.videoId %}" class="play-button info-value info-value-pl" style="width: 25px;">
        <img src="/media/play-video.png" title="Play video." />
      </a>
    </div>

    <div class="sm-info-row">
      <div class="title" style="width: calc(100% - 20px)">
        {% if video.ytvideo.id in hearted %}
        Remove video from favourites
        {% else %}
        Heart video
        {% endif %}
      </div>
      <a href="" hx-post="{% url 'heart_video' video.videoId %}" hx-target="#history-list"
        class="play-button info-value" style="width: 25px;">
        {% if video.ytvideo.id in hearted %}
        <img src="/media/hearted-video.png" class="img-hearted" title="Remove video from favourites." />
        {% else %}
        <img src="/media/heart-video.png" class="img-heart" title="Add to favourites." />
        {% endif %}
      </a>
    </div>

    <div class="sm-info-row">
      <div class="title" style="width: calc(100% - 20px)">Remove from personal collection</div>
      <a href="" hx-delete="{% url 'remove_video' video.videoId %}" hx-target="#history-list"
        hx-confirm="Are you sure you wish to remove this video from your playlist?" class="play-button info-value"
        style="width: 25px;">

        <img src="/media/trash-can.png" class="img-trash-can" title="Remove video from personal list." />

      </a>
    </div>

    <hr>

    <div class="sm-info-row">
      <div class="title">
        <img src="/media/people.png" />
        People played this video
      </div>
      <div class="info-value">
        {{video.users_played}}
      </div>
    </div>


    <div class="sm-info-row">
      <div class="title">
        <img src="/media/earth2.png" />
        Global repeats
      </div>
      <div class="info-value">
        {{video.global_repeats}}
      </div>
    </div>

    <div class="sm-info-row">
      <div class="title">
        <img src="/media/music-earth.png" style="opacity: 0.8" />
        Global replay time
      </div>
      <div class="info-value">
        {{video.global_replays}}
      </div>
    </div>

    <hr>

    <div class="sm-info-row">
      <div class="title">
        <img src="/media/your-repeats.png" />
        Your repeats
      </div>
      <div class="info-value">
        {{video.repeats}}
      </div>
    </div>

    <div class="sm-info-row">
      <div class="title">
        <img src="/media/time_played.png" style="opacity: 0.8" />
        Your replay time
      </div>
      <div class="info-value">
        {{video.your_replays}}
      </div>
    </div>

    <div class="sm-info-row">
      <div class="title">
        <img src="/media/calendar.png" style="opacity: 0.8" />
        Last time played
      </div>
      <div class="info-value">
        {{video.last_time_played}}
      </div>
    </div>


  </div>

  {% endfor %}
</div>

<script src="{% static 'js/history-partials.js' %}"></script>



<script>
  var mainContainer = document.getElementById('history-list')
  window.onresize = () => {
      var iframeWidth = document.getElementById('video_iframe').offsetWidth
      var windowWidth = window.innerWidth
      mainContainer.style.width  = iframeWidth + 'px'
  }
</script>